.card-product {
  background-color: white;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 200px;
  text-align: center;
  margin: 10px;
  float: left;
}
.card-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 10px;
}
.card-title {
  color: #005f00;
  margin: 5px 0;
  font-size: 16px;
}
.card-price {
  font-weight: bold;
  color: #ff4500;
  font-size: 18px;
}

.card-button {
  background-color: #38a169;
  color: white;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 8px;
  font-size: 13px;
  width: 100%;
}
