header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 150px;
  z-index: 1000;
  background-color: #367cdd;
  color: white;
  font-size: 40px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
